<h1>Cuurent Shows in San Fransisco</h1>
<table>
    <td>Locations</td>
    <td>Production Company</td>
    <td>Title</td>
    <td>Director</td>
  <% @json_data.each do |show|  %>
    <tr>
      <td><%= show["locations"] %></td>
      <td><%= show["production_company"] %></td>
      <td><%= show["title"] %></td>
      <td><%= show["director"] %></td>
    </tr>
  <% end %>
</table>
